body{
	background: url("../images/backgroud-home.png") repeat left top;
/* 	background-color: #f4f4f4; */
	color: #383838;
	font: 11px/17px "OpenSansRegular",Helvetica,Arial,sans-serif;
	min-width: 478px;
}
#wrapper{
/* 	background-color: #f4f4f4;	 */
}
#wrapper-in{
/* 	background-color: #f4f4f4; */
}
#header{
	height: 99px;
	position: relative;
	z-index: 1;
	
}
#header .content{
	margin: 0 auto;
	width: 478px;
	position: relative;
	min-height: 99px;
}
#main{
	width: 478px;
	height: auto !important;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	min-height: 389px;
	padding-bottom: 40px;
}
#main .content{
	float: left;
	min-height: 389px;
	width: 478px;
	z-index: 1;
}
#main .content .login{
	float: left;
	min-height:409px;
	width: 478px;
    margin-left: 1px;
    margin-top: 1px;
    background-color: #ffffff;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
#main .content .login .headers{
	float: left;
	height: 88px;
	width: 100%;
	background-color: #F8F8F8;
	border-radius: 6px 6px 0px 0px;
	border-bottom: 1px dashed #cecece;
}
#main .content .login .headers .logo{
	float: left;
    height: 47px;
    margin-left: 176px;
    margin-top: 25px;
    width: 174px;
}
#main .content .login .contain{
	float: left;
	height: 314px;
	width: 100%;
}
#main .content .login .contain .text{
	float: left;
	position: relative;
}
#main .content .login .contain .text input{
	border: 1px solid #e9e9e9;
	background-color: #fcfcfc;
	 border-radius: 5px 5px 5px 5px;
	 height: 24px;
	 width: 386px;
	 color: #939393;
	 font-size: 14px;
	 font-family: Arial;
	 padding: 6px 4px;
}

.titleusername{
	color: #383838;
	font-size: 15px;
	float: left;
	margin-left: 40px;
	margin-top: 36px;
	height: 21px;
	 width: 394px;
}
.titlepassword{
	color: #383838;
	font-size: 15px;
	float: left;
	margin-left: 40px;
	margin-top: 27px;
	height: 21px;
	 width: 394px;
}
#username{
	float: left;
	margin-left: 40px;
	margin-top: 1px;
}

#password{
	float: left;
	margin-left: 40px;
	margin-top: 1px;
}

#main .content .login .contain .bottom{
	float: left;
	width: 466px;
	height: 107px;
	margin-left: 1px;
	margin-top: 1px;
}
#main .content .login .contain .bottom a{
	color: #1D8EB8;
    float: left;
    font-size: 13px;
    margin-left: 41px;
    margin-top: 47px;
    text-decoration: underline;
}
#main .content .login .contain .bottom input{
	float: right;
	border:none;
	width: 150px;
	height: 40px;
	margin-right: 31px;
    margin-top: 32px;
	background: url("../images/login.png") no-repeat;
	cursor: pointer;
}

#footer {
	clear: both;
	margin: 0 auto;
	padding: 10px 0 11px;
	min-height: 52px;
}
#footer .content {
	text-align:center;
	width: 474px;
	height: 52px;
	margin: 0 auto;
	color: #b6b6b6;
	font-size: 15px;
	
}
